$color: #61dafb;
$color2: #282c34;

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .search-form,
  .series-list {
    border: 1px solid $color;
    padding: 15px;
    margin: 30px 0;
    border-radius: 5px;
  }

  .search-form {
    width: 350px;

    input {
      width: 100%;
      box-sizing: border-box;
      display: block;
      padding: 8px;
      outline: none;
      border: 1px solid $color;
      color: $color;
      background-color: transparent;
      margin: 15px 0;

      &::placeholder {
        color: #3c8aa0;
      }
    }

    div {
      display: flex;
      justify-content: space-around;

      button {
        background-color: transparent;
        color: $color;
        border: 1px solid $color;
        padding: 7px;
        border-radius: 5px;
        cursor: pointer;
        transition: all ease 0.2s;

        &:hover {
          background-color: rgba(97, 218, 251, 0.4);
        }
      }
    }
  }

  .series-list {
    width: 75%;
    display: flex;
    flex-wrap: wrap;

    .serie-card {
      width: 150px;
      margin: 8px;
      box-shadow: 0px 0px 4px rgba(97, 218, 251, 0.8);

      img {
        width: 100%;
      }

      .card-info {
        padding: 8px 5px;

        h2 {
          margin: 0;
          padding: 0;
          font-size: 1em;
        }

        span {
          p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }
    }
  }
}
